<<<<<<< HEAD
/* #documenter .docs-sidebar{
    background-color: white;
    border-right: 2px solid darkgray;
} */
=======
#documenter .docs-sidebar{
    /* background-color: #023572 */
    /* background-color: white; */
    /* border-right: 2px solid darkgray; */
}
>>>>>>> main

/* #documenter .docs-sidebar .docs-logo > img {
    max-height: 10rem;
} */