name: Docs
on:
  push:
    branches:
      - main
    tags: "*"
  pull_request:

env:
  JULIA_PKG_USE_CLI_GIT: true

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
jobs:
  build:
    permissions:
      contents: write
      pages: write
      id-token: write
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@latest
        with:
          version: "1.10"
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@latest
        with:
          git_cli: true # = JULIA_PKG_USE_CLI_GIT. Options: true | false (default)
      - uses: julia-actions/julia-docdeploy@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
